[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "painter"]
	path = painter
	url = https://github.com/cran/painter
	shallow = true
	registered = true
